{% extends "hamim/base.html" %}
{% load static %}  <!-- Load static folder with images in it. -->

{% block page_header %} 
  <div class="jumbotron">
    <h1 class="display-3">About HamIM</h1>
    <p>
      HamIM Version: Jan 17, 2025</p>
    <p>
      <h2>Known Problems & Solutions:</h2>
      <ol class="list-group">
        <li class="list-group-item">If every channel is identified as a backup
          channel, then execution will fail with <b>Server Error 500</b>.<br>
          <b>Workaround:</b> Add a dummy simplex channel with a frequency that
          won't cause IMD. Leave the Backups column blank for the dummy channel.
          <br><b>For example:</b> RxFreq=999, TxFreq= , Backups= , Label=Dummy</li> 
        </li>
      </ol>
    </p>
    <p class="small">
      Send questions and comments to:
      <i><a href="mailto:Scott.Bordelon@gmail.com">Scott.Bordelon@gmail.com</a></i>
    </p>
  </div>
  {% endblock page_header %}
