{% extends "hamim/base.html" %} 

{% block page_header %} 
  <div class="jumbotron">
    <h1 class="display-3">About HamIM</h1>
    <p class="lead">
      A webapp to compute intermodulation frequency distortion conflicts, given
      a list of radio frequencies to be used at an event.</p>
    <p class="lead">
      [Reserved for instructions on how to run HamIM.]</p>
    <p class="lead">
      HamIM Version: Sep 25, 2023</p>
    <p class="small">
      Send questions and comments to: <i>Scott.Bordelon@gmail.com</i>
    </p>
  </div>
  {% endblock page_header %}
