{% extends "hamim/base.html" %}
{% load static %}  <!-- Load static folder with images in it. -->

{% block page_header %} 
  <div class="jumbotron">
    <h1 class="display-3">Managing backup channels</h1>
    <p class="lead">
      Radio channel plans often include backup channels to serve as a redudant
      channel alternative in case a primary channel is unusable. 
    </p>
    <p class="lead">
      When checking your channel plan for IMD, backup channels can unnecessarily
      increase the likelihood of causing IMD because the backup channel will
      never get used simultaneously with the primary channel. If HamIM were to
      compute an IMD conflict caused by interaction between a primary channel
      and its backup, that would be a conflict that can be ignored. That might
      not be so tragic if your plan only has a single backup channel, but
      complex plans may have have 12 or more backup channels, dramatically
      increasing the odds of reporting an IMD conflict that may never occur
      in reality. One way to manage this burden is to submit numerous plans
      into HamIM where each plan only includes a single backup or primary
      channel. Take this channel plan for example:
      <center><figure class="figure">
        <img src="{% static 'CSVExample_1backup.png' %}" class="shadow mb-2">
        <figcaption class="figure-caption">
          Channel plan with one backup channel, Command Backup
        </figcaption>
      </figure></center>
    </p>
    <p class="lead">
      The channels labeled "Command Primary" and "Command Backup" will never be
      used at the same time. You'll either be using the Primary channel or the
      Backup channel at your event but not both at the same time. You've
      essentially got two channel plans -- one with "Command Primary" and
      another one with "Command Backup", so to avoid reporting IMD caused by
      channel interactions that will never happen, split your channel plan
      into two channel plans, and run HamIM on each. In the example, split
      the channel plan into two plans as illustrated below:
      <center><figure class="figure">
        <img src="{% static 'CSVExample_1backup_split.png' %}">
        <figcaption class="figure-caption">
          Channel plan with one backup channel, split into two channel plans
        </figcaption>
      </figure></center>
    </p>
    <p class="lead">
      If your channel plan has more than one channel with corresponding backup
      channels, you'll need to create multiple channel plans to
      accomodate all possible combinations of backup channel options. Take for
      example, a plan with two primary channels (Command Primary and Tactical
      Primary), where Command Primary has a single backup channel and Tactical
      Primary has two backup channels. To accomodate all possible combinations
      of primary and backup channels, this plan needs to be split into six plans
      as follows:
    </p>
    <center><figure class="figure">
      <img src="{% static 'CSVExample_2primaries_split.png' %}">
      <figcaption class="figure-caption">
        Channel plan with two primary channels with backups, split into six channel plans
      </figcaption>
    </figure></center>
    <p class="lead">
      Note that the two potential Command channels multiplied by the three
      potential Tactical channels, results in six derivative plans. The number
      of derivative plans will be the total product of the number of the backup
      channels with its primary multiplied by each other primary channel with
      its backups in the original plan. For a plan with a large number of
      primary and backup channels, creating the derivative plans can be a huge
      burden.
    </p>
    <p class="lead">
      HamIM will automatically generate the derivative plans and run them if you
      indicate which channels are backups in the CSV file. Simply add a column
      named "Backups" to the CSV file, and assign an arbitrary name to the
      channels participating in the gang of backup channels with its primary
      channel. In the example below, a Backups column has been added with tags
      indicating the primary Command and Tactical channels have corresponding
      backup channels.
    </p>
    <a href="{% static 'CSVExample_Backups.csv' %}" download>
      <center><figure class="figure">
        <img src="{% static 'CSVExample_Backups.png' %}" class="shadow mb-2">
        <figcaption class="figure-caption">
          Example CSV file with "Backups" column
        </figcaption>
      </figure></center>
    </a>
    <p class="lead">
      That's all you need to do. Now just upload your new CSV file. HamIM
      will automatically generate and run all combinations of derivative channel
      plans.
    </div>
  {% endblock page_header %}
