{% extends "hamim/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Find your IMD.</h1>
    <p class="lead">HamIM analyzes your list of radio frequencies for potential
      intermod distortion (IMD). Simply upload a CSV file with your radio
      frequencies.
    </p>
  </div>
{% endblock page_header %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Options</h5>
    <input type="checkbox" name="labeleqns" id="labelEquations">
    <label  for="labelEquations">
      Label frequencies in report equations?
    </label>
    <br><br>
    <h5>CSV file upload</h5>
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
{% endblock content %}
