{% extends "hamim/base.html" %}
{% load static %}  <!-- Load static folder with images in it. -->

{% block page_header %} 
  <div class="jumbotron">
    <h1 class="display-3">How to make a CSV file</h1>
    <p class="lead">
      A CSV (Comma-Separated Values) file is a plain text file for storing a
      table (rows and columns) of data. Each line in a CSV file represents a
      row of data in your table. Every line of text in the CSV file is separated
      by the same number of commas to represent columns of text in your table.
    </p>
    <p>
      For example, say you want to create a CSV file for the following table
      with 4 rows and 3 columns:
      <center><table class="table table-bordered">
        <thead>
        <tr class="table-primary">
          <th class="border border-dark"><h5><center>RxFreq</center></h5></th>
          <th class="border border-dark"><h5><center>TxFreq</center></h5></th>
          <th class="border border-dark"><h5><center>Label</center></h5></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="border border-dark"><center>145.27</center></td>
          <td class="border border-dark"><center>-</center></td>
          <td class="border border-dark"><center>W6ASH</center></td>
        </tr>
        <tr>
          <td class="border border-dark"><center>147.485</center></td>
          <td class="border border-dark"></td>
          <td class="border border-dark"><center>Staging</center></td>
        </tr>
        <tr>
          <td class="border border-dark"><center>144.67</center></td>
          <td class="border border-dark"><center>446.5</center></td>
          <td class="border border-dark"><center>Crossband Uplink</center></td>
        </tr>
        </tbody>
      </table></center>
      Since a CSV file is just a plain text file, there are numerous ways to
      create it. I'll illustrate three of the most common ways.
      <br><br>
      <h3><u>1. Use a Text Editor</u></h3>
      Every computer has a text editor available. <b>Notepad</b> is the default
      text editor in Windows. MacOS has <b>TextEdit</b>. Linux has <b>vi</b>.
      Run your favorite text editor and start typing your rows of data with
      columns separated by commas. For the example above, you should get
      something like this:
      <a href="{% static 'TE_CSVExample.txt' %}" download>
        <center><figure class="figure">
          <img src="{% static 'TE_CSVExample.png' %}" class="shadow mb-2">
          <figcaption class="figure-caption">Example CSV file typed into Notepad</figcaption>
        </figure></center>
      </a>
      Note the following:<ul>
        <li>Our table has 4 rows so our CSV file has 4 lines.</li>
        <li>Our table has 3 columns so every row in our CSV file has 2 commas,
          making 3 columns per row.</li>
        <li>The first (header) line has no formatting (such as bold text).</li>
        <li>The columns in our text file aren't necessarily lined up. That's
          okay.</li>
        <li>The third line has 2 commas next to each other because the second
          column in that row is an empty cell.</li>
        <li>The last line has text with whitespace, "Crossband Uplink". The
          whitespace does NOT create a new column. Columns are only separated by
          commas.</li>
      </ul>
      Now save your file as a plain text file type. Do NOT save your file as a
      file type that supports additional formatting (bold, italic, etc.) such as
      Rich Text Format (RTF) or Word (DOC or DOCX). Either .txt or .csv are
      common filename extensions to use, but HamIM doesn't care what filename
      extension you use.
      <br><br>
      <h3><u>2. Use Microsoft Excel (or LibreOffice Calc)</u></h3>
      If you're familiar with using <b>Microsoft Excel</b>, you can use it to
      create a CSV file. After you type your table into <b>Excel</b>, it will
      look something like this:
      <a href="{% static 'MSE_CSVExample.csv' %}" download>
        <center><figure class="figure">
          <img src="{% static 'MSE_CSVExample.png' %}" class="shadow mb-2">
          <figcaption class="figure-caption">Example CSV file typed into Microsoft Excel</figcaption>
        </figure></center>
      </a>
      Save your file as a "CSV (Comma delimeted) (*.csv)" file type. Do NOT
      save it as "CSV <b>UTF-8</b> (Comma delimited) (*.csv)" or "Excel Workbook
      (.xlsx)" or any other richly formatted file types.
      <br><br>
      <b>NOTE:</b> If you don't have access to Microsoft Excel,
      <a href="https://www.libreoffice.org/discover/calc/" target="_blank">
      <b>LibreOffice Calc</b></a> is an open source alternative to Microsoft
      Excel that's free to download and use on Windows, macOS, and Linux.
      <br><br>
      <h3><u>3. Use Google Sheets</u></h3>
      <a href="https://www.google.com/sheets/about/" target="_blank"><b>Google Sheets</b></a> is like <b>Microsoft Excel</b>, except it's web-based
      and free to use. After you type your table into <b>Sheets</b>, it will
      look something like this:
      <a href="https://docs.google.com/spreadsheets/d/1E6z3Cu7F_1yOD7d9okivmpojH4vMWKNkWvv55VAKxNs/edit?usp=sharing" target="_blank">
        <center><figure class="figure">
          <img src="{% static 'GS_CSVExample.png' %}" class="shadow mb-2">
          <figcaption class="figure-caption">Example CSV file typed into Google Sheets</figcaption>
        </figure></center>
      </a>
      Save it to your computer using the <b>File</b> pulldown menu option,
      <b>Download > Comma Separated Values (.csv)</b>.
    </p>
  </div>
  {% endblock page_header %}
